.card-container {
  display: flex;
}

.card {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  //animation: arrow1 4s infinite;
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.8s;
}

.card .front {
  transform: rotateY(0deg);
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .back {
  transform: rotateY(180deg);
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover .front {
  transform: rotateY(180deg);
}
.card:hover .back {
  transform: rotateY(0deg);
}


.card2 {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  animation: arrow2 4s ease-in-out infinite;
}

.card2 .front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card2 .front {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.card3 {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  //animation: arrow3 4s ease-in-out infinite;
}

.card3 .front,
.card3 .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.8s;
}

.card3 .front {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card3 .back {
  transform: rotateX(180deg);
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.card3:hover .front {
  transform: rotateX(180deg);
}
.card3:hover .back {
  transform: rotateX(0deg);
}

@keyframes arrow1 {
    0%   {left:50px; top:10px;}
    50%{transform: rotateY(180deg);}
    100% {left:250px; top:10px;}
}

@keyframes arrow2 {
    0%   {left:50px; top:10px;}
    50%{transform: rotateZ(360deg);}
    100% {left:250px; top:10px;}
}

@keyframes arrow3 {
    0%   {left:50px; top:10px;}
    50%{transform: rotateX(180deg);}
    100% {left:250px; top:10px;}
}
